@import "../../assets/base.scss";
@import "../../assets/font/iconfont.wxss";

// 轮播图大小
.slide-image {
  width: 750rpx;
}

// 任务列表
.taskList {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 750rpx;
  height: 168rpx;
  background-color: #fff;
  .taskContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 100%;
    &:active {
      background-color: $activeColor;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50rpx;
      height: 50rpx;
      border-radius: 50%;
    }
    .text {
      display: block;
      width: 100%;
      margin-top: 20rpx;
      font-size: 26rpx;
      text-align: center;
      color: #404750;
    }
  }
}

// 通知模块
.notification-box {
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 128rpx;
  margin-top: 20rpx;
  background: #fff;
  .avater {
    width: 88rpx;
    height: 88rpx;
    border-radius: 50%;
    margin-left: 20rpx;
    border: 1rpx solid $borderColor;
    box-sizing: border-box;
  }
  .notification-text {
    width: 580rpx;
    margin-left: 30rpx;
    .noti-info {
      width: 100%;
      font-size: 24rpx;
      line-height: 1em;
      color: #26262c;
    }
    .noti-title {
      width: 100%;
      margin-top: 18rpx;
      font-size: 30rpx;
      @extend .singleLine;
      line-height: 1em;
      color: #fd8753;
      background: linear-gradient(to right, #ff5c92, #fd8753);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  &:active {
    background-color: $activeColor;
  }
}

// 抢任务
.task-contest {
  width: 750rpx;
  height: auto;
  margin-top: 20rpx;
  background: #fff;
  .state {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 108rpx;
    &:after{
      position: absolute;
      left: 20rpx;
      bottom: 0;
      content: "";
      display: block;
      width: 710rpx;
      height: 2rpx;
      background-color: #dae2ec;
    }
    .state-left {
      width: 65%;
      padding-left: 30rpx;
      .title {
        display: flex;
        align-items: center;
        font-size: 30rpx;
        color: $titleColor;
        font-weight: 600;
        image{
          width: 24rpx;
          margin-right: 15rpx;
        }
      }
      .smallTitle {
        display: block;
        margin-top: 17rpx;
        font-size: 20rpx;
        color: #8b9093;
        line-height: 1em;
      }
    }
    .state-right {
      display: flex;
      justify-content: flex-end;
      width: 35%;
      height: 100%;
      padding-right: 30rpx;
      font-size: 20rpx;
      .time{
        display: flex;
        align-items: center;
        width: 210rpx;
        height: 30rpx;
        margin-top: 28rpx;
        overflow: hidden;
        text:nth-child(1){
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90rpx;
          height: 30rpx;
          background-color: #f44242;
          color: #fff;
          border-radius: 15rpx 0 0 15rpx;
        }
        text:nth-child(2){
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120rpx;
          height: 30rpx;
          border: 1rpx solid #f44242;
          border-left: 0;
          color: #f44242;
          font-size: 24rpx;
          border-radius: 0 15rpx 15rpx 0;
          line-height: 1em;
          box-sizing: border-box;
        }
      }
    }
  }
}
@import "../../templates/taskShowModel/style.scss";

// 专题
.topics {
  width: 750rpx;
  margin-top: 30rpx;
  background: #fff;
  .title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    &:after{
      position: absolute;
      display: block;
      bottom: 0;
      left: 30rpx;
      content: "";
      width: 690rpx;
      height: 2rpx;
      background-color: #dae2ec;
    }
    image{
      width: 28rpx;
      margin-left: 30rpx;
    }
    text{
      margin-left: 10rpx;
      font-size: 30rpx;
      color: $titleColor;
    }
  }
  .contentBox {
    display: flex;
    flex-wrap: wrap;
    width: 690rpx;
    height: auto;
    padding: 20rpx 0;
    margin: 0 auto;
    .module {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 174rpx;
      box-sizing: border-box;
      &:active {
        background-color: #f5f5f5;
      }
      .text {
        display: block;
        margin-top: 20rpx;
        font-size: 28rpx;
        color: #686888;
      }
      &:nth-child(1){
        position: relative;
        &:before{
          position: absolute;
          content: "";
          display: block;
          width: 1rpx;
          height: 88rpx;
          top: 43rpx;
          right: 0;
          background-color: #dae2ec;
        }
        &:after{
          position: absolute;
          content: "";
          display: block;
          width: 208rpx;
          height: 2rpx;
          bottom: 0;
          left: 68rpx;
          background-color: #dae2ec;
        }
        image{
          width: 68rpx;
        }
      }
      &:nth-child(2){
        position: relative;
        &:after{
          position: absolute;
          content: "";
          display: block;
          width: 208rpx;
          height: 2rpx;
          bottom: 0;
          left: 68rpx;
          background-color: #dae2ec;
        }
        image{
          width: 64rpx;
        }
      }
      &:nth-child(3){
        position: relative;
        &:before{
          position: absolute;
          content: "";
          display: block;
          width: 1rpx;
          height: 88rpx;
          top: 43rpx;
          right: 0;
          background-color: #dae2ec;
        }
        image{
          width: 60rpx;
        }
      }
      &:nth-child(4){
        image{
          width: 76rpx;
        }
      }
    }
  }
}

// 精品任务
.taskBest {
  width: 100%;
  margin-top: 30rpx;
  height: auto;
  background-color: #fff;
  .top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    &:after{
      position: absolute;
      content: "";
      display: block;
      width: 690rpx;
      height: 2rpx;
      left: 30rpx;
      bottom: 0;
      background-color: #dae2ec;
    }
    image{
      width: 28rpx;
      margin-left: 30rpx;
    }
    text{
      margin-left: 10rpx;
      color: $titleColor;
      font-size: 30rpx;
    }
  }
  @import "../../templates/bestTask/style.scss";
}

// 底线
.bottomLine {
  @extend .bottomLineModel;
}
