@import "../../assets/base.scss";
// 轮播图大小
.slide-image {
  width: 750rpx;
}

// 任务列表
.taskList {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 750rpx;
  height: 200rpx;
  background-color: #fff;
  .taskContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120rpx;
    height: 200rpx;
    .icon {
      width: 100%;
      height: 120rpx;
      border-radius: 50%;
      background: $borderColor;
    }
    .text {
      display: block;
      width: 100%;
      margin-top: 10rpx;
      font-size: 28rpx;
      text-align: center;
      color: #8a8a8a;
    }
  }
}

// 通知模块
.notification-box {
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 120rpx;
  margin-top: 20rpx;
  background: #fff;
  .avater {
    width: 90rpx;
    height: 90rpx;
    margin-left: 30rpx;
  }
  .notification-text {
    width: 560rpx;
    margin-left: 40rpx;
    .noti-info {
      width: 100%;
      font-size: 26rpx;
    }
    .noti-title {
      width: 100%;
      margin-top: 10rpx;
      font-size: 30rpx;
      @extend .singleLine;
    }
  }
  &:active{
    background-color: #f1f1f1;
  }
}

// 抢任务
.task-contest {
  width: 750rpx;
  height: auto;
  margin-top: 30rpx;
  background: #fff;
  .state {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 14rpx 0;
    border-bottom: 1rpx solid $borderColor;
    .state-left {
      width: 65%;
      padding-left: 30rpx;
      .title {
        display: block;
        font-size: $titleSize;
        font-weight: 600;
      }
      .smallTitle {
        display: block;
        margin-top: 6rpx;
        font-size: $infoSize;
        color: #bfbfbf;
      }
    }
    .state-right {
      width: 35%;
      text-align: right;
      padding-right: 30rpx;
      font-size: $subTitleSize;
      color: #515151;
    }
  }
}
@import "../../templates/taskShowModel/style.scss";

// 专题
.topics {
  width: 750rpx;
  margin-top: 30rpx;
  background: #fff;
  .title {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    border-bottom: 1rpx solid $borderColor;
    font-size: 34rpx;
    font-weight: 600;
    text {
      margin-left: 30rpx;
    }
  }
  .contentBox {
    display: flex;
    flex-wrap: wrap;
    width: 690rpx;
    height: auto;
    padding: 20rpx 0;
    margin: 0 auto;
    .module{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 220rpx;
      box-sizing: border-box;
      border-bottom: 1rpx solid $borderColor;
      &:nth-last-child(1),
      &:nth-last-child(2){
        border-bottom: 0;
      }
      &:nth-child(2n){
        border-left: 1rpx solid $borderColor;
      }
      &:active{
        background-color: #f5f5f5;
      }
      .icon{
        width: 140rpx;
        height: 140rpx;
        background: $infoColor;
      }
      .text{
        display: block;
        margin-top: 10rpx;
        font-size: 28rpx;
        color: $subTitleColor;
      }
    }
  }
}

// 精品任务
.taskBest {
  width: 100%;
  margin-top: 30rpx;
  height: auto;
  background-color: #fff;
  .top {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    border-bottom: 1rpx solid $borderColor;
    font-size: $titleSize;
    font-weight: 600;
    text {
      margin-left: 30rpx;
    }
  }
  .task-model {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750rpx;
    padding: 20rpx 0;
    border-bottom: 1rpx solid $borderColor;
    &:last-child {
      border-bottom: 0;
    }
    &:active{
      background: #f5f5f5;
    }
    image {
      display: block;
      width: 120rpx;
      height: 120rpx;
    }
    .model-info {
      width: 570rpx;
      .info-title {
        width: 100%;
        font-size: $subTitleSize;
        @extend .singleLine;
        .mark {
          display: inline-block;
          padding: 2rpx 8rpx;
          box-sizing: border-box;
          border: 1rpx solid $borderColor;
          vertical-align: bottom;
          margin-left: 8rpx;
          font-size: 22rpx;
        }
        .best{
          border: 1rpx solid $themeColor;
          color: $themeColor;
        }
      }
      .tags {
        display: flex;
        align-items: center;
        width: 570rpx;
        margin-top: 10rpx;
        font-size: $infoSize;
        .left {
          width: 50%;
          @extend .singleLine;
          text {
            display: inline-block;
            padding: 0 6rpx;
            height: 32rpx;
            line-height: 32rpx;
            background: #f5f5f5;
            margin-left: 8rpx;
          }
        }
        .right {
          width: 50%;
          text-align: right;
          font-size: 19rpx;
        }
      }
      .sort {
        display: flex;
        align-items: center;
        width: 570rpx;
        margin-top: 10rpx;
        font-size: 22rpx;
        .left {
          width: 50%;
          padding-left: 8rpx;
        }
        .right {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
}

// 底线
.bottomLine {
  @extend .bottomLineModel;
}
