@import "../../assets/base.scss";

.task-model {
  display: flex;
  align-items: center;
  width: 690rpx;
  padding: 30rpx;
  color: $titleColor;
  background-color: #fff;
  border-bottom: 1rpx solid $borderColor;
  &:last-child {
    border-bottom: 0;
  }
  &:active{
    background: $activeColor;
  }
  image {
    display: block;
    width: 100rpx;
    height: 100rpx;
    border-radius: 6rpx;
    border: 1rpx solid $borderColor;
    box-sizing: border-box;
  }
  .model-info {
    width: 570rpx;
    margin-left: 20rpx;
    .info-title {
      width: 100%;
      font-size: 24rpx;
      line-height: 1em;
      @extend .singleLine;
      .mark {
        display: inline-block;
        width: 50rpx;
        height: 24rpx;
        line-height: 24rpx;
        box-sizing: border-box;
        vertical-align: text-bottom;
        font-size: 20rpx;
        color: #fff;
        text-align: center;
        background-color: #ed3a11;
      }
      .best{
        background-color: #ff6600;
        margin-left: 14rpx;
      }
    }
    .tags {
      display: flex;
      align-items: center;
      width: 570rpx;
      margin-top: 16rpx;
      font-size: 20rpx;
      .left {
        width: 50%;
        @extend .singleLine;
        text {
          display: inline-block;
          height: 28rpx;
          line-height: 28rpx;
          padding: 0 20rpx;
          border-radius: 28rpx;
          color: $themeColor;
          border: 1rpx solid $themeColor;
          margin-right: 10rpx;
          box-sizing: border-box;
        }
      }
      .right {
        width: 50%;
        text-align: right;
        font-size: 20rpx;
        color: #26262c;
      }
    }
    .sort {
      display: flex;
      align-items: center;
      width: 570rpx;
      margin-top: 12rpx;
      font-size: 20rpx;
      .left {
        width: 50%;
        padding-left: 8rpx;
      }
      .right {
        width: 50%;
        text-align: right;
      }
    }
  }
}
