@import "../../assets/base.scss";

.bottom-button{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 750rpx;
  height: 90rpx;
  box-shadow: 0 2rpx 12rpx rgba(0,0,0,.6);
  .share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230rpx;
    font-size: 26rpx;
    color: $titleColor;
    background-color: #fff;
    &:active{
      background-color: $borderColor;
    }
  }
  .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160rpx;
    height: 100%;
    font-size: 26rpx;
    background-color: $themeColor;
    color: #fff;
    &:active{
      background-color: #f17e03;
    }
  }
  .copy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140rpx;
    font-size: 26rpx;
    background-color: #fff;
    color: $titleColor;
    &:active{
      background-color: $borderColor;
    }
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220rpx;
    height: 100%;
    font-size: 30rpx;
    background-color: $themeColor;
    color: #fff;
    &:active{
      background-color: #f17e03;
    }
  }
}
