@import "../../assets/base.scss";

.bottom-button-signUp{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 750rpx;
  height: 90rpx;
  font-size: 30rpx;
  box-shadow: 0 2rpx 12rpx rgba(0,0,0,.6);
  .share{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250rpx;
    color: $titleColor;
    background-color: #fff;
    font-size: 26rpx;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: 0;
    border-right: 2rpx solid $borderColor;
    &:active{
      background-color: $borderColor;
    }
  }
  .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250rpx;
    height: 100%;
    background-color: $themeColor;
    color: #fff;
    &:active{
      background-color: #f17e03;
    }
  }
  .copy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250rpx;
    background-color: #fff;
    color: $titleColor;
    &:active{
      background-color: $borderColor;
    }
  }
}
