@import "../../assets/base.scss";
@import "../../assets/font/iconfont.wxss";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  &:before{
    content: "";
    display: block;
    width: 750rpx;
    height: 60rpx;
    background-color: #f5f5f5;
  }

  textarea{
    width: 690rpx;
    height: 450rpx;
    font-size: $subTitleSize;
    color: $titleColor;
    background: #fff;
    outline: 15px solid #fff;
  }

  .toolBar{
    display: flex;
    flex-wrap: wrap;
    width: 690rpx;
    height: auto;
    margin-top: 80rpx;
    background-color: #fff;
    outline: 15px solid #fff;

    .model{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100rpx;
      height: 100rpx;
      background-color: #eee;
      margin-left: 30rpx;
      margin-top: 20rpx;
      &:nth-child(5n+1){
        margin-left: 0;
      }
      &:nth-child(-n+5){
        margin-top: 0;
      }
      image{
        height: 100%;
      }
      .close{
        position: absolute;
        top: -10rpx;
        right: -10rpx;
      }
    }
    .addImg{
      @extend .model;
      .iconfont{
        font-size: 46rpx;
        color: $infoColor;
      }
    }
  }

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640rpx;
    height: 80rpx;
    margin: 70rpx auto;
    background-color: $themeColor;
    color: #fff;
    font-size: $titleSize;
    &:active{
      opacity: 0.8;
    }
  }
}
