//颜色定制
$borderColor: #e6e6e6; // 边框颜色
$titleColor: #26262c; //  标题颜色
$subTitleColor: #515151; // 副标题颜色
$infoColor: #bfbfbf; // 浅色说明文字
$themeColor: #e27b10; // 主题色
$activeColor: #ecf0f5; // 按钮激活颜色

// 大小定制
$titleSize: 34rpx; // 标题文字大小
$infoSize: 22rpx; // 说明文字字体大小
$subTitleSize: 28rpx; // 副标题文字大小

// 超出一行出现...
.singleLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 我是有底线的
.bottomLineModel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750rpx;
  height: 84rpx;
  font-size: 24rpx;
  color: #8b9093;
  &::before {
    content: "";
    display: inline-block;
    width: 250rpx;
    height: 2rpx;
    margin-right: 20rpx;
    background: #8b9093;
    vertical-align: middle;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 250rpx;
    height: 2rpx;
    margin-left: 20rpx;
    background: #8b9093;
    vertical-align: middle;
  }
}
