//颜色定制
$borderColor: #e6e6e6; // 边框颜色
$titleColor: #2c2c2c; //  标题颜色
$subTitleColor: #515151; // 副标题颜色
$infoColor: #bfbfbf; // 浅色说明文字
$themeColor: #e27b10; // 主题色

// 大小定制
$titleSize: 34rpx; // 标题文字大小
$infoSize: 22rpx; // 说明文字字体大小
$subTitleSize: 28rpx; // 副标题文字大小

// 超出一行出现...
.singleLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 我是有底线的
.bottomLineModel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750rpx;
  height: 200rpx;
  background: #fff;
  font-size: 24rpx;
  color: #515151;
  &::before {
    content: "";
    display: inline-block;
    width: 200rpx;
    height: 2rpx;
    margin-right: 8rpx;
    background: $borderColor;
    vertical-align: middle;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 200rpx;
    height: 2rpx;
    margin-left: 8rpx;
    background: $borderColor;
    vertical-align: middle;
  }
}
