/*
 * 颜色定制
 */
$borderColor: #e6e6e6; // 边框颜色
$titleColor: #2c2c2c; //  标题颜色
$subTitleColor: #515151; // 副标题颜色
$infoColor: #bfbfbf; // 浅色说明文字
$themeColor: #E27B10; // 主题色

/*
 * 大小定制
 */
 $titleSize: 34rpx; // 标题文字大小
 $infoSize: 22rpx;  // 说明文字字体大小
 $subTitleSize: 28rpx; // 副标题文字大小


 // 超出一行出现...
 .singleLine{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }